<h1>Liste des Locationss</h1>
<table border="1">
    <tr>
        <td>idl</td>
        <td>duree</td>
        <td>datedebut</td>
        <td>datefin</td>
        <td>idClient</td>
        <td>Voiture</td>
    </tr>
    {% for location in locations %}
        <tr>
            <td>{{ location.idl }}</td>
            <td>{{ location.duree }}</td>
            <td>{{ location.datedebut }}</td>
            <td>{{ location.datefin }}</td>
            <td>{{ location.id }}</td>
            <td>{{ location.mat }}</td>
            <td><a href="{{ path("delete_location", {'idl': location.idl}) }}">Supprimer</a></td>
        </tr>
    {% endfor %}
</table>